/* font 'Outfit' */
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Plus+Jakarta+Sans:wght@500;700;800&family=Red+Hat+Display:wght@700&display=swap');


* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    background-color: #0D192C;
    max-width: 100%;
    min-height: 100vh;
}

.card {
    width: 279px;
    background-color: #15263F;
    box-shadow: 0px 25px 50px 0px #00000018;
    border-radius: 15px;
    padding: 24px 24px 32px;
}
.img-container {
    position: relative;
}
.image-equilibrium {
    max-width: 100%;
    border-radius: 8px;  
}
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 302px;
    width: 302px;
    border-radius: 8px;
    background-color: rgba(0, 255, 248, 0.5);
    right: 0px;
    top: 0;
    display: none;
}
.img-container:hover .overlay {
    display: flex;
    cursor: pointer;
}

h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    color: white;
    margin: 22px 0px 12px;
}
.avatar-name span:hover, h1:hover {
    color: #00FFF8;
    cursor: pointer;
   
}
a {
    text-decoration: none;
}

.text {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: #8BACD9;
    margin-bottom: 14px;
}
.info-container {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 19px;
    border-bottom: 1px solid #2E405A;
    padding-bottom: 13px;
}
.icons {
    display: flex;
    align-items: center;
    gap: 6.5px;
}
.price {
    font-weight: 600;
    color: #00FFF8;
}

.days-left {
    font-weight: 400;
    color: #8BACD9; 
}

.avatar {
    width: 33px;
    height: 33px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-right: 16px; 
}

.avatar-name {
    display: inline;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #8BACD9;
}
 footer { 
    margin-top: 16px;
    display: flex;
    align-items: center;
 }
 .avatar-name span {
    color: white;
 }

 @media screen and (min-width: 375px) {
    .card {
        width: 350px;
        height: 596px;
    }

    .info-container {
        padding-bottom: 24px;
    }

    .text {
        margin-bottom: 22px;
    }
 }